<div id="remove-modal" style="width: 100vw; height: 100vh; z-index: 1001; position: fixed; opacity: 0; display: none;"></div>

<% array = [] %>
<% compte_total = [] %>
 <% array_compte = [] %>
 <% a = [] %>
 <% @events.each do |event| %>
   <% array.include?(event.category) ? array.push(nil) : array.push(event.category)%>
   <% array_compte.push(event.category) %>
  <% compte_total.push(event) %>
  <% end %>

<h1 class="text-center my-4" > LISTE DE TOUS NOS EVENEMENTS</h1>
<h4><%= compte_total.count %> évènement à <%= cookies[:address] %> le <%= cookies[:date_start] %></h4>


  <div class="filter-cat">
    <hr>
    <div class="card-container">


      <div class ="btn-create filter" data-category= "all">
         <h2>Tous (<%=compte_total.count %>)</h2>

      </div>


      <% @events.each_with_index do |event, index| %>
        <% if array[index] %>

          <div class ="btn-create filter" data-category="<%= event.category %>">
            <h2><%= array[index] ? "#{array[index]} " : "" %>(<%= array_compte.count(event.category) %>)</h2>

                 <!-- <div class="separator"></div> -->
            <!-- <h3><b><%= array_compte.count(event.category) %></b> évènements</h3> -->
          </div>
          <% else  %>

          <% end  %>
      <% end %>
    </div>

    <hr>
  </div>



<div class="event-modal">

  <%= simple_form_for([@group, @event_user]) do |f| %>

  <div class="contain-event-map">

    <div class="events-grid">
      <% @events.each do |event| %>

        <div class="event-presentation" data-category="<%= event.category %>" data-id="<%= event.id %>">
          <label>
            <% if event.photo_url.present? %>
              <% url = event.photo_url %>
            <% else %>
              <% url ="https://images.unsplash.com/photo-1571575522341-be760794a35b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"%>
            <% end %>
            <div class ="event-card" style="background-image: url(<%= url %>);">
              <input style=" display: none;" type="radio" name="event_id" value="<%= event.id %>">
            </div>
            <div class="event-details">
              <h6 id="category-card"><%= event.category %></h6>
              <h5 id="address-card"><%= event.address %></h5>
              <h4 id="name-card"><%= event.name %></h4>
              <p><%= event.description[0..150] %>...</p>
              <%= link_to "Plus de détails", event_path(event), class: "details" %>
              <%= f.button :button, "Proposer cet événement", type: :submit, name: "event_id", value: "#{event.id}", class: "boutton-show-2" %>
            </div>
          </label>
        </div>
      <% end %>
    </div>


    <div
       id="map"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">

    </div>
  </div>
<% end %>
</div>










