<div id="remove-modal" style="width: 100vw; height: 100vh; z-index: 1001; position: fixed; opacity: 0; display: none;"></div>
<h1 class="text-center my-4" > LISTE DE TOUS NOS EVENEMENTS</h1>

<% array = [] %>
 <% array_compte = [] %>
 <% a = [] %>
 <% @events.each do |event| %>
   <% array.include?(event.category) ? array.push(nil) : array.push(event.category)%>
   <% array_compte.push(event.category) %>
  <% end %>






<div class="container event-modal">


  <%= simple_form_for([@group, @event_user]) do |f| %>
    <div class="events-grid">
      <% @events.each do |event| %>
        <div class="event-presentation" data-id="<%= event.id %>">
          <label>
            <% if event.photo_url.present? %>
              <% url = event.photo_url %>
            <% else %>
              <% url ="https://images.unsplash.com/photo-1571575522341-be760794a35b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"%>
            <% end %>
            <div class ="event-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url %>);">
              <input style=" display: none;" type="radio" name="event_id" value="<%= event.id %>">
              <h5><%= event.name %></h5>
            </div>
          </label>
        </div>

        <div class="modal-event" id="modal-<%= event.id %>">
          <div class= "event-photo" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= url %>);">
          </div>
          <h6><%= event.name %></h6>
          <div class="event-description">
            <p><%= event.description %></p>
          </div>
        </div>

      <% end %>
    </div>

    <%= f.button :submit %>

 <div class="card-container">
         <% @events.each_with_index do |event, index| %>
           <% if array[index] %>
             <div class ="category" data-category="<%= event.category %>" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3))">
               <h2><%= array[index] ? "#{array[index]} " : "" %></h2>

               <!-- <div class="separator"></div> -->
               <h3><b><%= array_compte.count(event.category) %></b> évènements</h3>
             </div>
             <% else  %>
             <% end  %>
           <% end %>
       </div>

  <% @events.each do |event| %>
      <div class="event" data-category="<%= event.category %>">
        <label>
          <div style="height: 200px; margin-bottom: 20px; background: steelblue">

            <input style="display: none;" type="radio" name="event_id" value="<%= event.id %>">

            <p><%= event.name %></p>
          </div>
        </label>
      </div>

  <% end %>
</div>

<%= link_to "Groupe show", group_path(params[:group_id]) %>


  <%= f.button :submit %>

   <div
       id="map"
       style="width: 100%;
       height: 600px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
     ></div>
<% end %>





