<<<<<<< HEAD
<h1>Groups#create</h1>
<p>Find me in app/views/groups/create.html.erb</p>

=======
<h1>CREATE NEW GROUP</h1>
>>>>>>> bd6279c0b778336e0c34396d4964a99198edc9e5

<%= simple_form_for(@group) do |group| %>
  <%= f.input :name %>
  <%= f.input :date_event %>
  <%= f.input :location %>
  <%= f.submit "create a group", class: "btn btn-primary" %>
<% end %>
