<h1>Groups#new</h1>

<div class="container">
  <%= simple_form_for(@group) do |f| %>
    <div class="form">
      <%= f.label 'Nom du groupe' %>
      <%= f.text_field :name %>
    </div>
    <div class="form">
      <%= f.label "Date de l'évènement" %>
      <%= f.input_field :date_event%>
    </div>
    <div class="form">
      <%= f.label "Lieux de l'évènement" %>
      <%= f.text_field :location %>
    </div>
    <div class="form">
      <%= f.label "Temps pour proposer un évènement" %>
      <%= f.input_field :proposition_duration %>
    </div>
     <div class="form">
      <%= f.label "Temps pour voter" %>
      <%= f.input_field :vote_duration %>
    </div>
    <div class="form">
      <input type="text" id="member" name="member" value="">Nombre de membres: (max. 10)<br />
      <a href="#" id="filldetails" onclick="addFields()">Entrer les emails</a>
    </div>
    <%= f.submit "create a group", class: "btn btn-primary" %>
    <% end %>
</div>

