<h1>Groups#new</h1>

<div class="container">
  <%= simple_form_for(@group) do |f| %>
    <div class="form">
      <%= f.label 'Nom du groupe' %>
      <%= f.text_field :name %>
    </div>
    <div class="form">
      <%= f.label "Date de l'évènement" %>
      <%= f.input_field :date_event%>
    </div>
    <div class="form">
      <%= f.label "Lieux de l'évènement" %>
      <%= f.text_field :location %>
    </div>
    <div class="form">
      <%= f.label "Temps pour proposer un évènement" %>
      <%= f.input_field :proposition_duration %>
    </div>
    <div class="form">
      <%= f.label "Temps pour voter" %>
      <%= f.input_field :vote_duration %>
    </div>
    <div class="form">
      <%= f.label "Ajouter un ami(es)" %>
      <%= f.input_field :location %>
      <div class="email">
        <a href="#" onclick="myFunction()">Ajouter</a>
      </div>
    </div>



    <%= f.submit "create a group", class: "btn btn-primary" %>
    <% end %>
</div>

<script>
function myFunction() {
  document.querySelector('.email').insertAdjacentHTML('beforeend', '<div><input type="text" name="invit-email[]"/><a href="#" class="delete">Supprimer</a></div><br>');
  document.querySelector(on("click",".delete", function(e){
        e.preventDefault(); $(this).parent('div').remove(); x--;
    }))
}
</script>
