<div class="container">
  <div class="groupe">
    <div class="group-name">
      <h1><%= @group.name %></h1>
      <div class="group-status">
        <div class="etat">
          <% if @group.waiting_for_events? %>
            <p>Faites vos jeux !</p>
            <% elsif @group.waiting_for_votes? %>
            <p>Il faut voter !</p>
            <% elsif @group.finish? %>
            <p>C'est fini !</p>
            <% else %>
            <p> Blablabla</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="group-infos">
      <div class="intro">
        <h4>Soirée prévu à <%= cookies[:address] %> le <%= cookies[:date_start] %></h4>
      </div>
      <div class="members">
        <h5>Membres du groupe :</h5>
        <% @members.each do |member| %>
          <%= image_tag (member.photo), class: "avatar-membre" %>
        <% end %>
      </div>
    </div>
    <ul class="list_event-notvoted">
      <div class="card-event-show">
      <% @group.event_users.each do |event_user| %>
      <hr>
        <li class="event-choice">

          

        <%= image_tag (event_user.event.photo_url), class: "img-card-show" %>
          <div class="card-infos-show">
            <%= event_user.event.name %>
            <%= event_user.event.category %>
            <%= event_user.score %> Points
          </div>
          <%= image_tag (event_user.user.photo), class: "avatar-card" %>

        </li>
      <% end %>
      </div>
    </ul>
    <div class="boutton-formulaire">
      <%= link_to "Propose ton évènement", new_group_event_user_path(@group), class: "boutton-groupe" %>
      <%= link_to "Va voter !", new_group_vote_path(@group), class: "boutton-groupe" %>
    </div>
  </div>
</div>



