<div class="container">
  <div class="groupe">
    <div class="group-name">
      <h1><%= @group.name %></h1>
      <div class="group-status">
        <div class="etat">
          <h6>Etat du groupe</h6>
        </div>
      </div>
    </div>
    <div class="group-infos">
      <div class="intro">
        <h4>Soirée prévu à <%= cookies[:address] %> le <%= cookies[:date_start] %></h4>
      </div>
      <div class="members">
        <h5>Membres du groupe :</h5>
      </div>
    </div>
    <ul class="list_event-notvoted">
      <div class="card-event-show">
      <% @group.event_users.each do |event_user| %>
      <hr>
        <li class="event-choice">
        <%= image_tag (event_user.event.photo_url), class: "img-card-show" %>
          <div class="card-infos-show">
            <%= event_user.event.name %>
            <%= event_user.event.category %>
          </div>
          <%= image_tag (event_user.user.photo), class: "avatar-card" %>
        </li>
      <% end %>
      </div>
    </ul>
    <div class="boutton-formulaire">
      <%= link_to "Propose ton évènement", new_group_event_user_path(@group), class: "boutton-groupe" %>
      <%= link_to "Va voter !", group_votes_path(@group), class: "boutton-groupe" %>
    </div>
  </div>
</div>



