<div class="container">
  <h1><%= @group.name %></h1>
  <h2><%= @group.location %></h2>
  <h2><%= @group.date_event %></h2>
  <h2><%= @group.vote_duration %></h2>
  <h2><%= @group.proposition_duration %></h2>
  <h2><%= @group.email %></h2>

  <%= link_to "Ajouter un event", new_group_event_user_path(@group) %>
  <%= link_to "Voter", group_votes_path(@group) %>

  <% @group.event_users.each do |event_user| %>
    <p><%= event_user.user.email %></p>
    <p><%= event_user.event.name %></p>
  <% end %>
</div>

<%= cookies[:date_start] %>
