<div class="container">
  <div class="groupe">
    <div class="infos-permanentes">
      <div class="permanentes">
        <div class="groupe-nom">
          <h1><%= @group.name %></h1>
        </div>
        <div class="members">
          <% @members.each do |member| %>
            <%= image_tag (member.photo), class: "avatar-membre" %>
          <% end %>
        </div>
      </div>
      <div class="date-lieu">
        <div class="date">
         <p><%= @group.date_event %></p>
        </div>
        <div class="lieu">
         <p><%= @group.location %></p>
        </div>
      </div>
    </div>
    <div class="etats">

      <% if @group.waiting_for_events? %>
        <div class="etat1">
          <div class="chiffre">
            <p>1</p>
          </div>
        <p>Fait ta propostition! !</p>
        </div>
        <div class="etat2-no">
          <div class="chiffre">
            <p>2</p>
          </div>
        <p>Il faut voter !</p>
        </div>
          <div class="etat3-no">
            <div class="chiffre">
              <p>3</p>
            </div>
        <p>C'est fini !</p>
        </div>

      <% elsif @group.waiting_for_votes? %>
        <div class="etat1-no">
          <div class="chiffre">
            <p>1</p>
          </div>
        <p>Faites vos jeux !</p>
        </div>
        <div class="etat2">
          <div class="chiffre">
            <p>2</p>
          </div>
        <p>Il faut voter !</p>
        </div>
        <div class="etat3-no">
          <div class="chiffre">
            <p>3</p>
        </div>
        <p>C'est fini !</p>
        </div>

      <% elsif @group.finish? %>
        <div class="etat1-no">
          <div class="chiffre">
            <p>1</p>
          </div>
        <p>Faites vos jeux !</p>
        </div>
        <div class="etat2-no">
          <div class="chiffre">
            <p>2</p>
          </div>
        <p>Il faut voter !</p>
        </div>
        <div class="etat3">
          <div class="chiffre">
            <p>3</p>
          </div>
        <p>C'est fini !</p>
        </div>

      <% else %>
          <p>Quelque chose cloche</p>
        <% end %>
    </div>

    <ul class="list_event-notvoted">
      <div class="card-event-show">
      <% @group.event_users.each do |event_user| %>
      <hr>
        <li class="event-choice">
        <%= image_tag (event_user.event.photo_url), class: "img-card-show" %>
          <div class="card-infos-show">
           <p><%= event_user.event.name %></p>
            <p><%= event_user.event.category %></p>
          </div>
          <%= image_tag (event_user.user.photo), class: "avatar-card" %>
        </li>
      <% end %>
      </div>
      <% if !current_user.proposed_event?(@group) %>
        <%= link_to "Propose ton évènement", new_group_event_user_path(@group), class: "boutton-show" %>
      <% elsif !current_user.voted?(@group) %>
        <% if @group.waiting_for_events? %>
          <p>En attente des autres propositions...</p>
        <% else %>
          <%= link_to "Va voter !", new_group_vote_path(@group), class: "boutton-show" %>
        <% end %>
      <% else %>
        <% if @group.waiting_for_votes? %>
          <p>En attente des autres votes...</p>
        <% else %>
          <%= link_to "Résultat !", event_path(@result_all), class: "boutton-show" %>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>



