<div class="container">
  <% @events.each do |event| %>
    <div class="card-event">
    <% if event.photo_url.present? %>
      <%= event.photo_url %>
    <% else %>
      <img src="https://images.unsplash.com/photo-1493225457124-a3eb161ffa5f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2850&q=80" />
    <% end %>
      <div class="card-event-infos">
        <h2><%= link_to event.name, event_path(event)%></h2>
        <p><%= event.date_start %> | <%= event.date_end %> </p>
        <h4><%= event.category %></h4>
      </div>
    </div>
  <% end %>
</div>

