<div class="container">
  <div class="vote">
    <h1>Il est l'heure de voter !</h1>
    <p>Glisser déposer selon votre ordre de préférence.</p>
    <form action="<%= group_votes_path(@group) %>" method="post">
      <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
      <ul class="list_event">
        <% @group.event_users.each_with_index do |event_user, index| %>
        <hr>
          <li id="<%= event_user.event.id %>" class="event_choices">
            <input type="hidden" name="votes[][event_user_id]" value="<%= event_user.id %>">
            <%= image_tag (event_user.event.photo_url), class: "img-card-show" %>
              <div class="card-infos-show">
               <h6><%= event_user.event.category %></h6>
               <span><%= event_user.event.address %></span>
               <p><%= event_user.event.name %></p>
              </div>
              <% if event_user.user.photo %>
              <%= image_tag (event_user.user.photo), class: "avatar-card" %>
              <% else %>
              <%= image_tag "festeam-logo.png", class: "avatar-card" %>
              <% end %>
          </li>
        <% end %>
      </ul>
      <input type="submit" value="Valide ton vote !" class="boutton-show-vote" />
    </form>
  </div>
</div>
